@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #171717;
	color: white;
}

.hero {
	background-image: url(/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: auto 1280px;
}

.hero > div {
	backdrop-filter: blur(10px);
}

a {
	@apply hover:text-neutral-400;
	@apply transition-colors;
}

a > div {
	@apply hover:text-neutral-400;
	@apply transition-colors;
}
